/* Reset
================================================== */

@import url('animate.css');
@import url('https://fonts.googleapis.com/css?family=Roboto');
 html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font-family: 'Roboto', sans-serif;
	vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}
body {
	line-height: 1.5em;
}
ol,
ul {
	list-style: none;
}
blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* Body & Main
================================================== */

body {
	nowhitespace: afterproperty;
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
	color: #606060;
}
/* Links */

a {
	color: #f4473a;
}
a:visited {
	color: #f4473a;
}
a:hover,
a:focus,
a:active {
	color: #000;
	text-decoration: none;
}
/*set max img width*/

img {
	max-width: 100%;
}
/* Commons
================================================== */

/*clear floats*/

.remove-margin {
	margin-right: 0 !important;
}
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
.clear {
	clear: both;
}
/*blockquote*/

blockquote {
	position: relative;
	margin: 30px 20px;
	padding-left: 25px;
	font-style: italic;
	font-weight: bold;
	color: #000;
	quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
	color: #000;
	content: open-quote;
	font-size: 3em;
	line-height: .1em;
	position: absolute;
	top: 20px;
	left: -10px;
}
blockquote p:last-child {
	margin: 0;
}
/*preformatted text*/

pre {
	background: #fff url("images/pre-bg.png") repeat;
	margin: 40px 0px;
	padding: 25px 20px;
	line-height: 25px;
	border: 1px solid #ddd;
	white-space: pre-wrap;
	white-space: -moz-pre-wrap;
	white-space: -pre-wrap;
	white-space: -o-pre-wrap;
	word-wrap: break-word;
}
ul,
ol {
	margin: 0 0 1em 1.5em;
}
ul {
	list-style: disc;
}
ol {
	list-style-type: decimal;
}
ol ol {
	list-style: upper-alpha;
}
ol ol ol {
	list-style: lower-roman;
}
ol ol ol ol {
	list-style: lower-alpha;
}
ul ul,
ol ol,
ul ol,
ol ul {
	margin-bottom: 0;
}
table {
	margin: 0 0 1.5em;
	width: 100%;
}
th {
	font-weight: bold;
	padding: 10px 10px;
}
tr {
	padding: 5px 5px;
}
td {
	padding: 5px 10px;
}
#primary table {
	margin: 0 0 1.5em;
	width: 100%;
	border: 1px solid #ddd;
	border-right: none;
	background: #fff;
}
#primary th {
	font-weight: bold;
	padding: 10px 10px;
	background: #555;
	color: #fff;
}
#primary tr {
	padding: 5px 5px;
}
#primary td {
	padding: 5px 10px;
	border-top: 1px solid #ddd;
	border-right: 1px solid #ddd;
}
/* Typography
================================================== */

/* Headings */

h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
}
h1 {
	font-size: 32px;
}
h2 {
	font-size: 26px;
}
h3 {
	font-size: 20px;
}
h4 {
	font-size: 18px;
}
h5 {
	font-size: 16px;
}
h6 {
	font-size: 14px;
}
p {
	margin: 0 0 20px;
}
p img {
	margin: 0;
}
em {
	font-style: italic;
}
strong {
	font-weight: bold;
}
small {
	font-size: 80%;
}
hr {
	border: solid rgba(0, 0, 0, 0.2);
	border-width: 1px 0 0;
	clear: both;
	margin: 10px 0 30px;
	height: 0;
}
p a,
p a:visited {
	line-height: inherit;
}
a:link {
	text-decoration: none;
}
a:focus {
	outline: 0;
}
a {
	outline: 0;
}
p a,
p a:visited {
	line-height: inherit;
}
a:focus {
	outline: 0;
}
/* Head */

#masthead {
	position: relative;
	left: 0;
	right: 0;
	z-index: 9;
	width: 100%;
	border-bottom: 1px solid #dfdfdf;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	margin-bottom: 19px;
}
.site-branding {
	margin-bottom: 20px;
}
#site-logo {
	float: left;
	padding: 22px 15px 0 0;
}
#site-title {
	text-transform: uppercase;
	font-weight: 800;
	margin-top: 36px;
	clear: none;
}
#site-title a:link,
#site-title a:visited {
	color: #000;
}
.site-branding-slogan {
    font-size: 12px;
    text-transform: none;
    background: linear-gradient(to right,#314755 0%,#26a0da 51%,#314755 100%);
        background-clip: border-box;
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 500;
}
/* Menu */

.menutoggle {
	width: 36px;
	height: 36px;
	color: #777;
	border: 1px solid #ddd;
	border-radius: 3px;
	line-height: 36px;
	text-align: center;
	background: #fff;
	position: absolute;
	right: 20px;
	top: 25px;
	font-size: 20px;
	display: none;
}
#main-menu {
	padding: 0px 0px;
	margin: 22px 0px 15px;
	height: 45px;
	border-bottom: none;
	float: left;
}
#main-menu ul {
	width: auto;
	float: left;
	list-style: none;
	margin: 0;
	padding: 0 0px;
}
#main-menu li {
	float: left;
	list-style: none;
	margin: 0;
	padding: 0;
	color: #fff;
	font-weight: 400;
}
#main-menu li a {
	color: #069eed;
	display: block;
	margin: 0;
	padding: 19px 10px 19px 10px;
	text-decoration: none;
	position: relative;
	text-transform: uppercase;
	font-size: 17px;
	font-weight: 400;
	letter-spacing: 1px;
}
#main-menu li a:hover,
#main-menu li a:active,
#main-menu a.active,
#main-menu > ul > li > a.active-trail {
	color: #069eed;
}
#main-menu li a.sf-with-ul {
	padding-right: 10px;
}
#main-menu li ul li a,
#main-menu li ul li a:link,
#main-menu li ul li a:visited,
#main-menu li ul li ul li a,
#main-menu li ul li ul li a:link,
#main-menu li ul li ul li a:visited,
#main-menu li ul li ul li ul li a,
#main-menu li ul li ul li ul li a:link,
#main-menu li ul li ul li ul li a:visited {
	color: #777;
	width: 148px;
	margin: 0;
	padding: 10px 10px;
	border-top: 1px solid #ddd;
	position: relative;
	font-weight: 400;
}
#main-menu ul li ul li:first-child a,
#main-menu ul li ul li ul li:first-child a,
#main-menu ul li ul li ul li ul li:first-child a {
	border-top: none;
}
#main-menu li ul li a:hover,
#main-menu li ul li ul li a:hover,
#main-menu li ul li ul li ul li a:hover {
	color: #069eed;
}
#main-menu li ul {
	font-size: 12px;
	z-index: 9999;
	position: absolute;
	left: -999em;
	height: auto;
	width: 160px;
	margin: 0px 0px 0px 0px;
	padding: 5px 5px;
	background: #efefef;
}
#main-menu li ul a {
	width: 150px;
}
#main-menu li ul a:hover,
#main-menu li ul a:active {} #main-menu li ul ul {
	margin: -44px 0 0 160px;
}
#main-menu li:hover ul ul,
#main-menu li:hover ul ul ul,
#main-menu li.sfHover ul ul,
#main-menu li.sfHover ul ul ul {
	left: -999em;
}
#main-menu li:hover ul,
#main-menu li li:hover ul,
#main-menu li li li:hover ul,
#main-menu li.sfHover ul,
#main-menu li li.sfHover ul,
#main-menu li li li.sfHover ul {
	left: auto;
}
#main-menu li:hover,
#main-menu li.sfHover {
	position: static;
}
#main-menu > ul > li > a {
	padding: 10px;
}
/* Layout */

#primary,
#sidebar {
	padding-top: 20px;
	padding-bottom: 20px;
}
/*

#main-content {
  padding-top: 15px;
}
*/

/* Slider */

#slidebox {
	max-height: 550px;
	position: relative;
	background: #000;
}
.scrolling-icon {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 30px;
	height: 52px;
	width: 36px;
	margin: auto;
	z-index: 2;
	border-radius: 15px;
	border: 2px solid #fff;
	background: transparent;
}
.scrolling-icon .go-down {
	display: block;
	position: relative;
	border-radius: 10px;
	background: #fff;
	width: 3px;
	height: 12px;
	top: 5px;
	margin-left: auto;
	margin-right: auto;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
	-webkit-animation-play-state: running;
	animation-play-state: running;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear;
	-webkit-animation-delay: 0s;
	animation-delay: 0s;
	-webkit-animation-name: godown;
	animation-name: godown;
}
img.grayscale {
	filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
	/* Firefox 10+, Firefox on Android */
	filter: gray;
	/* IE6-9 */
	-webkit-filter: grayscale(100%);
	/* Chrome 19+, Safari 6+, Safari 6+ iOS */
}
.flex-caption {
	width: 800px;
	position: absolute;
	top: 28%;
	left: 50%;
	margin-left: -400px;
	text-align: center;
	z-index: 120;
	color: #fff;
}
.flex-caption h2 {
	background: linear-gradient(to right, #314755 0%, #26a0da 51%, #314755 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.flex-caption h2 a:link,
.flex-caption h2 a:visited {
	color: #fff;
}
.flex-caption p {
	font-size: 16px;
}
a.frmore {
	background: rgba(255, 255, 255, 0.2);
	display: block;
	text-transform: uppercase;
	color: #fff;
	width: 150px;
	border: 1px solid #fff;
	padding: 5px 0px;
	margin: 10px auto;
	font-weight: bold;
	color: #fff!important;
	background-image: linear-gradient(to right, #314755 0%, #26a0da 51%, #314755 100%);
	border: none;
	border-radius: 6px;
}
a.frmore:hover {
	background-position: right center !important;
}
#header-block,
#footer-block {
	padding: 20px 0 0;
}
#bottom {
	padding: 20px 0px 40px 0px;
	background: #202020;
	margin-top: 45px;
}
.footer-block {
	color: #aaa;
}
.footer-block .block > h2 {
	font-size: 16px;
	margin-bottom: 10px;
	padding: 10px 0px;
	color: #fff;
	text-transform: uppercase;
}
/* Footer */

.site-footer {
	padding: 10px 0px;
	background: #151515;
	font-size: 12px;
}
.fcred {
	padding: 10px 0px;
	color: #bbb;
}
.fcred a:link,
.fcred a:visited {
	color: #fff;
}
/* =Content
----------------------------------------------- */

.node h2.title a,
h1.page-title {
	color: #000000;
	font-size: 36px;
	font-weight: bold;
	margin-bottom: 20px;
	margin-top: 10px;
}
#content .node-teaser {
	padding-bottom: 30px;
	border-bottom: 1px solid #DDDDDD;
	margin-bottom: 15px;
}
.node-teaser img {
	border: 1px solid #CCCCCC;
	padding: 6px;
	height: auto;
	max-width: 97.4%;
	margin: 0.5em 1em 0.5em 0;
	float: left;
}
.page-node #content-wrap img {
	border: 1px solid #CCCCCC;
	padding: 6px;
	height: auto;
	max-width: 97.4%;
	margin: 0.5em 1em 0.5em 0;
}
.region-content-top {
	margin-bottom: 20px;
}
#sidebar .block {
	margin-bottom: 30px;
}
#sidebar .block > h2 {
	font-size: 20px;
	color: #000;
	margin-bottom: 15px;
	text-transform: uppercase;
	font-weight: bold;
}
.footer-block .block,
.region-footer .block,
.region-header .block,
.region-content-top .block {
	margin-bottom: 30px;
}
/* -------------- Form Elements  ------------- */

fieldset {
	background: #ffffff;
	border: 1px solid #cccccc;
	margin-top: 10px;
	margin-bottom: 32px;
	padding: 0 0 10px;
	position: relative;
	top: 12px;
	/* Offsets the negative margin of legends */
	-khtml-border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}
.fieldset-wrapper {
	margin-top: 25px;
}
.node-form .vertical-tabs .fieldset-wrapper {
	margin-top: 0;
}
.filter-wrapper {
	top: 0;
	padding: 1em 0 0.2em;
	-khtml-border-radius-topright: 0;
	-khtml-border-radius-topleft: 0;
	-moz-border-radius-topright: 0;
	-moz-border-radius-topleft: 0;
	-webkit-border-top-left-radius: 0;
	-webkit-border-top-right-radius: 0;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}
.filter-help a {
	font-size: 0.857em;
	padding: 2px 20px 0;
}
.filter-wrapper .form-item label {
	margin-right: 10px;
}
.filter-wrapper .form-item {
	padding: 0 0 0.5em 0.5em;
}
.filter-guidelines {
	padding: 0 1.5em 0 0.5em;
}
fieldset.collapsed {
	background: transparent;
	-khtml-border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
}
fieldset legend {
	background: #dbdbdb;
	border: 1px solid #ccc;
	border-bottom: none;
	display: block;
	height: 2em;
	left: -1px;
	line-height: 2;
	padding: 0;
	position: absolute;
	text-indent: 10px;
	text-shadow: 0 1px 0 #fff;
	top: -12px;
	width: 100%;
	-khtml-border-radius-topleft: 4px;
	-moz-border-radius-topleft: 4px;
	-webkit-border-top-left-radius: 4px;
	border-top-left-radius: 4px;
	-khtml-border-radius-topright: 4px;
	-moz-border-radius-topright: 4px;
	-webkit-border-top-right-radius: 4px;
	border-top-right-radius: 4px;
}
fieldset.collapsed legend {
	-khtml-border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}
fieldset .fieldset-wrapper {
	padding: 0 10px;
}
fieldset .fieldset-description {
	margin-top: 5px;
	margin-bottom: 1em;
	line-height: 1.4;
	font-style: italic;
}
input {
	margin: 2px 0;
	padding: 4px;
}
input,
textarea {
	font-size: 0.929em;
}
textarea {
	line-height: 1.5;
}
textarea.form-textarea,
select.form-select {
	padding: 4px;
}
input.form-text,
textarea.form-textarea,
select.form-select {
	border: 1px solid #ccc;
}
.password-suggestions ul li {
	margin-left: 1.2em;
}
.form-item {
	margin-bottom: 1em;
	margin-top: 2px;
}
.form-item label {
	font-size: 0.929em;
}
.form-type-radio label,
.form-type-checkbox label {
	margin-left: 4px;
}
.form-type-radio .description,
.form-type-checkbox .description {
	margin-left: 2px;
}
.form-actions {
	padding-top: 10px;
}
/* Contact Form */

.contact-form #edit-name {
	width: 100%;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-khtml-border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}
.contact-form #edit-mail {
	width: 100%;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-khtml-border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}
.contact-form #edit-subject {
	width: 100%;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-khtml-border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}
.contact-form #edit-message {
	width: 100%;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-khtml-border-top-left-radius: 4px;
	-khtml-border-top-right-radius: 4px;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
	-webkit-border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}
.contact-form .resizable-textarea .grippie {
	width: 100%;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-khtml-border-bottom-left-radius: 4px;
	-khtml-border-bottom-right-radius: 4px;
	-moz-border-radius-bottomleft: 4px;
	-moz-border-radius-bottomright: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}
/* Comment form */

.comment-form label {
	font-size: 0.929em;
	float: none !important;
}
.comment-form input,
.comment-form .form-select {
	margin: 0;
	-khtml-border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}
.comment-form .form-type-textarea label {
	float: none;
}
.comment-form .form-item,
.comment-form .form-radios,
.comment-form .form-type-checkbox,
.comment-form .form-select {
	margin-bottom: 10px;
	overflow: hidden;
}
.comment-form .form-type-checkbox,
.comment-form .form-radios {
	margin-left: 120px;
}
.comment-form .form-type-checkbox label,
.comment-form .form-radios label {
	float: none;
	margin-top: 0;
}
.comment-form input.form-file {
	width: auto;
}
.comment-form .form-text {
	display: block;
	margin: 0;
	width: 100%;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.comment-form .form-item .description {
	font-size: 0.786em;
	line-height: 1.2;
	margin-left: 120px;
}
#content h2.comment-form {
	margin-bottom: 0.5em;
}
.comment-form .form-textarea {
	-khtml-border-radius-topleft: 4px;
	-khtml-border-radius-topright: 4px;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
	-webkit-border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	width: 100%;
}
.comment-form fieldset.filter-wrapper .fieldset-wrapper,
.comment-form .text-format-wrapper .form-item {
	margin-top: 0;
	margin-bottom: 0;
}
.filter-wrapper label {
	width: auto;
	float: none;
}
.filter-wrapper .form-select {
	min-width: 120px;
}
.comment-form fieldset.filter-wrapper .tips {
	font-size: 0.786em;
}
#comment-body-add-more-wrapper .form-type-textarea label {
	margin-bottom: 0.4em;
}
#edit-actions input {
	margin-right: 0.6em;
}
/* Other Overrides */

div.password-suggestions {
	border: 0;
}
.ui-widget-overlay {
	background: #222222;
	opacity: 0.7;
}
div.vertical-tabs .vertical-tabs-panes fieldset.vertical-tabs-pane {
	padding: 1em;
}
#forum .name {
	font-size: 1.083em;
}
#forum .description {
	font-size: 1em;
}
/* Form Buttons */

button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
	/* IE10 */
	background-image: -ms-linear-gradient(top, #FFFFFF 0%, #E3E3E3 100%);
	/* Mozilla Firefox */
	background-image: -moz-linear-gradient(top, #FFFFFF 0%, #E3E3E3 100%);
	/* Opera */
	background-image: -o-linear-gradient(top, #FFFFFF 0%, #E3E3E3 100%);
	/* Webkit (Safari/Chrome 10) */
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFFFFF), color-stop(1, #E3E3E3));
	/* Webkit (Chrome 11+) */
	background-image: -webkit-linear-gradient(top, #FFFFFF 0%, #E3E3E3 100%);
	/* Proposed W3C Markup */
	background-image: linear-gradient(top, #FFFFFF 0%, #E3E3E3 100%);
	/* IE6-9 */
	filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#E3E3E3');
	border: 1px solid #dbdbdb;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	-o-border-radius: 6px;
	-ms-border-radius: 6px;
	-khtml-border-radius: 6px;
	border-radius: 6px;
	-moz-box-shadow: inset 0 1px 0 0 white;
	-webkit-box-shadow: inset 0 1px 0 0 white;
	-o-box-shadow: inset 0 1px 0 0 white;
	box-shadow: inset 0 1px 0 0 white;
	color: #333333;
	text-shadow: 0 1px 0 white;
	position: relative;
	font-weight: bold;
	padding: 4px .8em 5px .8em;
	font-size: 13px;
}
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover {
	/* IE10 */
	background-image: -ms-linear-gradient(top, #DBDBDB 0%, #F2F2F2 100%);
	/* Mozilla Firefox */
	background-image: -moz-linear-gradient(top, #DBDBDB 0%, #F2F2F2 100%);
	/* Opera */
	background-image: -o-linear-gradient(top, #DBDBDB 0%, #F2F2F2 100%);
	/* Webkit (Safari/Chrome 10) */
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #DBDBDB), color-stop(1, #F2F2F2));
	/* Webkit (Chrome 11+) */
	background-image: -webkit-linear-gradient(top, #DBDBDB 0%, #F2F2F2 100%);
	/* Proposed W3C Markup */
	background-image: linear-gradient(top, #DBDBDB 0%, #F2F2F2 100%);
	/* IE6-9 */
	filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#DBDBDB', endColorstr='#F2F2F2');
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	-o-border-radius: 6px;
	-ms-border-radius: 6px;
	-khtml-border-radius: 6px;
	border-radius: 6px;
	-moz-box-shadow: inset 0 1px 0 0 white;
	-webkit-box-shadow: inset 0 1px 0 0 white;
	-o-box-shadow: inset 0 1px 0 0 white;
	box-shadow: inset 0 1px 0 0 white;
	cursor: pointer;
}
button.full-width,
input[type="submit"].full-width,
input[type="reset"].full-width,
input[type="button"].full-width {
	width: 100%;
	padding-left: 0 !important;
	padding-right: 0 !important;
	text-align: center;
}
button.toolbar-icon {
    background-image: linear-gradient(rgba(255, 255, 255, 0.125) 20%, transparent 200%) !important;
}
.toolbar button.toolbar-icon {
    background-color: #ffff !important;
}
#block-search-form {
	padding-bottom: 7px;
}
#block-search-form .content {
	margin-top: 0;
}
#search-form .form-item-keys label {
	display: block;
}
ol.search-results {
	padding-left: 0;
}
.search-results li {
	border-bottom: 1px solid #d3d7d9;
	padding-bottom: 0.4285em;
	margin-bottom: 0.5em;
}
.search-results li:last-child {
	border-bottom: none;
	padding-bottom: none;
	margin-bottom: 1em;
}
.search-results .search-snippet-info {
	padding-left: 0;
}
.meta {
	margin: 5px 0 10px 0;
}
.meta a {
	color: #999;
}
.meta a:hover {
	color: #000;
}
.meta li {
	display: inline;
	margin-right: 5px;
	margin-right: 10px;
}
.meta strong {
	font-weight: 600;
	color: #111;
}
.meta li:last-child {
	margin-right: 0;
	padding-right: 0;
	background: none;
}
.links li a {
	background-color: #E7E5E3;
	color: #100100;
	padding: 4px 5px;
	border-radius: 4px;
	text-shadow: 1px 1px #fff;
	font-weight: normal;
}
.links li a:hover {
	background-color: #D7D5D3;
	color: #100101;
}

/*----------------------------------------*/
/* Mantainance page
/*----------------------------------------*/ 
body.maintenance-page {
  background-color: #fff;
  color: #000;
}
.maintenance-page #page-wrapper {
  background: #fff;
  margin-left: auto;
  margin-right: auto;
  min-width: 0;
  min-height: 0;
  border: 1px solid #ddd;
  margin-top: 40px;
}
.maintenance-page #page {
  margin: 10px;
}
.maintenance-page #main-wrapper {
  min-height: inherit;
}
.maintenance-page #header {
  width: auto;
}
.maintenance-page #main {
  margin: 0;
}
.maintenance-page .content .section {
  padding: 0 0 0 10px; /* LTR */
}
[dir="rtl"] .maintenance-page .content .section {
  padding-left: 0;
  padding-right: 10px;
}
.maintenance-page #header {
  background-color: #fff;
  background-image: none;
  margin-bottom: 20px;
}
.maintenance-page .site-branding-text {
  margin-bottom: 50px;
  margin-left: 0; /* LTR */
  padding-top: 20px;
  font-size: 90%;
}
[dir="rtl"] .maintenance-page .site-branding-text {
  margin-right: 0;
}
.maintenance-page .site-branding-text,
.maintenance-page .site-branding-text a,
.maintenance-page .site-branding-text a:hover,
.maintenance-page .site-branding-text a:focus {
  color: #777;
}
.maintenance-page .page-title {
  line-height: 1em;
  margin-top: 0;
}
.maintenance-page #page-title {
    font-size: 1.37em;
    color: black;
    margin-bottom: 10px;
    font-weight: inherit;
}
/*-------------------------------------------*
/* Fix CKEditor style
/*-------------------------------------------*/

#content table.cke_editor {
	background: transparent;
	border: 0;
}
#content table.cke_editor td {
	background: transparent;
	padding: 0;
	border: 0;
}
/*-------------------------------------------*
/* Poll, Buttons, Form
/*-------------------------------------------*/

.poll .vote-form .choices .title {
	font-size: 14px;
	font-weight: normal;
	line-height: 2;
}
.poll .vote-form .choices {
	margin: 0;
}
.form-item label {
	font-size: 13px;
	font-weight: bold;
}
/*-------------------------------------------*
/* Menus and item lists
/*-------------------------------------------*/

.item-list ul {
	margin: 0;
	padding: 0 0 0 1.5385em;
}
.item-list ul li {
	margin: 0;
	padding: 0;
}
ul.menu li {
	margin: 0;
	padding: 0;
}
ul.inline {
	clear: both;
}
ul.inline li {
	display: inline;
	list-style: none;
	margin: 0 2px;
	padding: 0;
}
/*-------------------------------------------*
/* Admin Tabs
/*-------------------------------------------*/

.tabs-wrapper {
	border-bottom: 1px solid #b7b7b7;
	margin: 0 0 5px 0;
}
ul.primary li {
	display: inline;
}
ul.primary {
	border: none;
	margin: 0;
	padding: 0;
}
ul.primary li a {
	background: none;
	border: none;
	display: block;
	float: left;
	line-height: 1.5385em;
	margin: 0;
	padding: 0 1em;
	border-radius: 4px 4px 0 0;
	margin-right: 5px;
}
ul.primary li a:hover,
ul.primary li a.is-active {
	background: linear-gradient(to right, #314755 0%, #26a0da 51%, #314755 100%);
	color: #fff;
	border: none;
	color: #fff;
	height: 25px;
	padding-top: 2px;
}
ul.primary li a:hover {
	background: linear-gradient(to right, #314755 0%, #26a0da 51%, #314755 100%);
	text-decoration: none;
}
ul.secondary {
	background: #666;
	border-bottom: none;
	clear: both;
	margin: 0;
	padding: 0;
}
ul.secondary li {
	display: inline;
	border-right: none;
}
ul.secondary li a,
ul.secondary li a:link {
	border: none;
	color: #ccc;
	display: block;
	float: left;
	line-height: 1.5385em;
	padding: 0 1em;
}
ul.secondary li a:hover,
ul.secondary li a.is-active {
	background: #888;
	color: #fff;
	text-decoration: none;
}
ul.secondary a.active {
	border-bottom: none;
}
ul.inline,
ul.links.inline {
	margin-left: 0;
}
/*-------------------------------------------*
/* Tabs and Tags
/*-------------------------------------------*/

.field--name-field-tags {
	display: flex;
}
.field--name-field-tags label.field__label {
	font-weight: bold;
}
.field--name-field-tags label.field__label:after {
	content: ':';
}
.field--name-field-tags ul {
	display: flex;
	margin: 0;
	list-style: none;
}
.field--name-field-tags ul li {
	margin: 0 0 0 0.3em;
}
.field--name-field-tags ul li a {
	background: #069eed;
	text-shadow: none;
	border-radius: 2px;
	color: #fff;
	padding: 2px 6px;
}
/*-------------------------------------------*
/* Profile
/*-------------------------------------------*/

.profile {
	margin: 1.5385em 0;
}
.profile dd {
	margin-bottom: 1.5385em;
}
.profile h3 {
	border: none;
}
.profile dt {
	margin-bottom: 0;
}
.password-parent {
	width: 36em;
}
/* Comments */

.comment h2.title {
	margin-bottom: 1em;
}
.comment div.user-picture img {
	margin-left: 0;
}
.comment {
	margin-bottom: 20px;
	display: table;
	vertical-align: top;
}
.comment .attribution {
	display: table-cell;
	padding: 0 35px 0 0;
	vertical-align: top;
	overflow: hidden;
}
.comment .attribution img {
	margin: 0;
	border: 1px solid #d3d7d9;
}
.comment .attribution .username {
	white-space: nowrap;
}
.comment .comment-submitted p {
	margin: 4px 0;
	font-size: 1.071em;
	line-height: 1.2;
}
.comment .comment-submitted .comment-time {
	font-size: 0.786em;
}
.comment .comment-submitted .comment-permalink {
	font-size: 0.786em;
	text-transform: lowercase;
}
.comment .content {
	font-size: 0.929em;
	line-height: 1.6;
}
.comment .comment-arrow {
	background: url(../images/comment-arrow.gif) no-repeat 0 center transparent;
	border-left: 1px solid;
	border-right: 1px solid;
	height: 40px;
	margin-left: -36px;
	margin-top: 15px;
	position: absolute;
	width: 22px;
}
.comment .comment-text {
	padding: 0 25px 10px 35px;
	display: table-cell;
	vertical-align: top;
	position: relative;
	width: 100%;
	border-left: 1px solid #d3d7d9;
}
.comment .indented {
	margin-left: 40px;
}
.comment-unpublished {
	margin-right: 5px;
	padding: 5px 2px 5px 5px;
}
.comment .comment-text .comment-arrow {
	border-left: 1px solid #ffffff;
	border-right: 1px solid #ffffff;
}
.comments .indented {
	margin-left: 40px;
}
.comments img {
	max-width: none;
}
/*-------------------------------------------*
/* Forum
/*-------------------------------------------*/

.field-name-taxonomy-forums div {
	display: inline;
	margin-top: 4px;
}
.field-name-taxonomy-forums .field-items {} #forum .title {
	font-size: 16px;
}
#forum .submitted {
	font-size: 12px;
	font-family: Lucida Grande, Verdana, Arial, sans-serif;
	background: transparent;
	padding: 0;
}
#forum .container {
	background: #a1a1a1;
	color: #fff;
}
#forum .container a {
	color: #000;
	font-weight: bold;
}
#forum div.indent {
	margin-left: 2px;
}
.forum-starter-picture {
	float: left;
	padding: 4px;
	border: 1px solid #d9d9d9;
	margin: 5px 7px 5px 0;
}
#forum th {
	background: #434343;
	text-shadow: none;
	color: #fff;
}
#forum th a {
	color: #fff;
}
#forum td.forum .icon,
#forum .icon div {
	background: url(images/no-new-posts.png) no-repeat;
	width: 35px;
	height: 35px;
}
#forum .name a {
	font-size: 16px;
}
/*-------------------------------------------*
/* Breadcrumbs
/*-------------------------------------------*/

.breadcrumb>li+li:before {
	content: "»";
}
@media (max-width: 992px) {
	.flex-caption {
		top: 50%;
		margin-top: -84px;
		padding: 0 150px;
	}
	.flex-direction-nav .flex-prev,
	.flex-direction-nav .flex-next {
		z-index: 1000;
	}
	.flex-direction-nav .flex-prev:hover,
	.flex-direction-nav .flex-next:hover {
		z-index: 1012;
	}
}
@media screen and (max-width: 768px) {
	#site-title {
		text-align: center;
	}
	#site-logo {
		padding-top: 0;
	}
	select.mnav {
		width: 100%;
		margin-bottom: 20px;
	}
	#main-menu {
		display: none;
	}
	#header-search {
		position: absolute !important;
		top: -6px;
		right: 12px;
	}
	.scroll-top {
		bottom: 15px;
	}
}
@media (max-width: 640px) {
	.flex-direction-nav a {
		width: 40px;
		height: 50px;
		/*margin: -50px 0 0;*/
		display: block;
		background-image: url(../images/bg_direction_nav.png);
		position: absolute;
		top: 50%;
		z-index: 110;
		cursor: pointer;
		text-indent: -9999px;
		background-repeat: no-repeat;
		background-position: top -24px left -6px;
		margin-top: -30px;
	}
	.flex-direction-nav .flex-next {
		background-position: top -24px left -53px;
	}
	.flexslider:hover .flex-next:hover,
	.flexslider:hover .flex-prev:hover {
		background-position-y: -124px;
	}
	.flex-caption {
		margin-top: -66px;
		padding: 0 210px;
		line-height: normal;
	}
	.flex-caption h2 {
		background: linear-gradient(to right, #314755 0%, #26a0da 51%, #314755 100%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
	#site-title {
		text-align: left;
	}
}
@-webkit-keyframes godown {
	0% {
		top: 5px;
		opacity: 0;
	}
	30% {
		top: 15px;
		opacity: 1;
	}
	60% {
		top: 15px;
		opacity: 0.60;
	}
	100% {
		top: 25px;
		opacity: 0;
	}
}
@keyframes godown {
	0% {
		top: 5px;
		opacity: 0;
	}
	30% {
		top: 15px;
		opacity: 1;
	}
	100% {
		top: 25px;
		opacity: 0;
	}
}
@media (max-width: 480px) {
	.flex-direction-nav a {
		width: 28px;
		background-size: 70px;
		background-position: top -10px left -4px;
	}
	.flex-direction-nav .flex-next {
		background-position: top -10px left -38px;
	}
	.flexslider:hover .flex-next:hover,
	.flexslider:hover .flex-prev:hover {
		background-position-y: -80px;
	}
	.flex-caption {
		padding: 0px 242px;
		font-size: 13px;
	}
	.flex-caption h2 {
		font-size: 19px;
	}
	.flex-caption a.frmore {
		margin-top: 5px;
	}
}
@media (max-width: 380px) {
	.flex-caption {
		padding: 0px 272px;
	}
	#site-title a {
		font-weight: 500;
		font-size: 16px !important;
	}
	#site-logo {
		padding: 0px;
	}
}
@media (min-width: 500px) {
	.node--view-mode-teaser .field--type-image {
		float: left;
		margin: 0 20px 20px 0;
	}
	.maintenance-page #page {
		margin: 20px 40px 40px;
  }
}
@media (min-width: 768px) {
	#user-login-form {
		width: 80%;
		margin: 2px;
		padding: 21px;
	}
	body {
		font-size: 14px !important;
	}
  .maintenance-page #page-wrapper {
		width: 800px;
  }
  .maintenance-page #header div.section,
  .maintenance-page #main {
		width: 700px;
  }
}
@media (min-width: 1024px) {
	#header-search #edit-keys {
		width: 767px;
	}
	.flex-caption h2 {
		font-size: 72px;
	}
}
.slicknav_menu {
	display: none;
}
@media screen and (max-width: 768px) {
	/* #menu is the original menu */
	.js #menu {
		display: none;
	}
	.js .slicknav_menu {
		display: block;
	}
}
/*particle bg*/

.particle-bg img {
	opacity: 0;
}
.particle-bg {
	background-position: center center;
	background-size: cover;
	position: relative;
}
/*particle js*/

/* =============================================================================
   My CSS
   ========================================================================== */

/* ---- base ---- */

canvas {
	display: block;
	vertical-align: bottom;
}

.count-particles{
  -webkit-user-select: none;
}
.count-particles {
	border-radius: 0 0 3px 3px;
}
/* ---- particles.js container ---- */

#particles-js {
	width: 100%;
	height: 100%;
	background-image: url('');
	background-size: cover;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	top: 0px;
	margin-bottom: 35px;
}
.particles-js-canvas-el {
	position: absolute;
	top: 0px;
}
.count-particles {
	background: none;
}
#site-title a:link,
#site-title a:visited {
	font-size: 20px;
	background: linear-gradient(to right, #314755 0%, #26a0da 51%, #314755 100%);
	background-clip: border-box;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.sticky-header {
	position: fixed !important;
	top: 0;
	width: 100%;
	z-index: 9999 !important;
	background: rgba(255, 255, 255, 1);
	border-bottom: 1px solid #dfdfdf;
	padding: 0px !important;
}
#main-menu li a.is-active,
#main-menu li a:hover {
	background: linear-gradient(to right, #314755 0%, #26a0da 51%, #314755 100%);
	background-clip: border-box;
	background-clip: border-box;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	border-bottom: 2px solid #069eed;
}
.sticky-header #main-menu li a.is-active,
#main-menu li a:hover {
	color: #069eed;
}
.sticky-header .site-branding {
	margin-bottom: 9px !important;
}
.sticky-header #site-title {
	margin-top: 30px;
}
.sticky-header #main-menu li a {
	padding-top: 5px;
}
a {
	color: #069eed;
}
.alert h4 {
	display: none;
}
.flex-caption {
	top: 40%;
}
#main-menu {
	margin: 16px 0px 15px;
}
.sticky-header #main-menu {
	margin: 23px 0px 15px;
}
.search-icon {
	position: absolute;
	right: 0;
	top: 13px;
	cursor: pointer;
}
.search-icon .fa {
	color: #069eed;
	font-size: 21px;
}
#header-search {
	margin-top: 23px;
	position: relative;
}
#block-particle-responsive-search {
	float: right;
	overflow: hidden;
	margin-right: 10px;
}
#header-search #edit-keys {
	border: none;
	border-radius: 8px;
	background: linear-gradient(to right, #314755 0%, #26a0da 51%, #314755 100%);
	margin-right: 7px;
	height: 42px;
	color: #ffff !important;
	font-size: 22px;
	padding-left: 19px;
}
.toolbar-icon {
	color: #606060 !important;
}
#highlighted-block {
	margin-top: 9px;
}
#header-search #edit-submit {
	display: none;
}
.breadcrumb > li + li::before {
	content: "/";
}
.hide-banner {
	display: none !important;
}
.path-frontpage .header-with-banner {
	position: absolute !important;
	border-bottom: none !important;
}
.bottom-footer {
	text-align: center;
	font-size: 14px;
	padding: 30px 0;
}
.copyright-text {
	color: #DADFE1;
}
.social-media a {
	color: #DADFE1;
	border: 1px solid #DADFE1;
	font-size: 18px;
	padding: 9px;
	vertical-align: middle;
}
.social-media a.facebook {
	padding-left: 13px;
	padding-right: 12px;
}
.social-media a.facebook:hover {
	background-color: #3b5999;
}
.social-media a.google-plus:hover {
	background-color: #dd4b39;
}
.social-media a.twitter:hover {
	background-color: #55acee;
}
.social-media a.pinterest:hover {
	background-color: #bd081c;
}
.social-media a.linkedin:hover {
	background-color: #0077B5;
}
.slicknav_nav a {
	color: none !important;
}
.slicknav_nav a:hover {
	background: none !important;
	color: none !important;
}
/* Back to top button */

.scroll-top {
	position: fixed;
	display: none;
	background-image: linear-gradient(to right, #314755 0%, #26a0da 51%, #314755 100%);
	color: #fff;
	display: inline-block;
	width: 44px;
	height: 44px;
	text-align: center;
	line-height: 1;
	font-size: 20px;
	right: 15px;
	bottom: 15px;
	transition: background 0.5s;
	z-index: 11;
}
.scroll-top i {
	padding-top: 12px;
	color: #fff;
}
.main-container {
	min-height: 350px;
}
.scroll-top .fa-arrow-up {
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
	-webkit-animation-play-state: running;
	animation-play-state: running;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear;
	-webkit-animation-delay: 0s;
	animation-delay: 0s;
	-webkit-animation: floatBubble 2s infinite normal ease-out;
	animation: floatBubble 2s infinite normal ease-out;
}
@-webkit-keyframes floatBubble {
	0% {
		top: 5px;
		opacity: 0;
	}
	30% {
		top: 15px;
		opacity: 1;
	}
	60% {
		top: 15px;
		opacity: 0.60;
	}
	100% {
		top: 25px;
		opacity: 0;
	}
}
@keyframes floatBubble {
	0% {
		top: 5px;
		opacity: 0;
	}
	30% {
		top: 15px;
		opacity: 1;
	}
	100% {
		top: 25px;
		opacity: 0;
	}
}
/*Login form*/

.path-user #breadcrumbs {
	display: none;
}
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
	background-image: linear-gradient(to right, #314755 0%, #26a0da 51%, #314755 100%);
	color: #fff !important;
	border: none;
}
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover {
	background-position: right center;
	background-image: linear-gradient(to right, #314755 0%, #26a0da 51%, #314755 100%);
	color: #fff !important;
	border: none;
}
#search-block-form #edit-submit--2 {
	display: none;
}
.path-user .form-item label {
	display: block;
}
.path-user input {
	width: 100%
}
#user-login-form {
	width: 80%;
	margin: 2px;
	padding: 21px;
}
.path-user .main-container form {
	box-shadow: 0 1px 4px 0 #cccccc !important;
	margin-top: 25px !important;
	margin: 2px;
	padding: 21px;
}
.path-user #edit-submit {
	height: 43px;
}
