{#
/**
 * @file
 * Bartik's theme implementation to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template normally located in the
 * core/modules/system directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the Header region.
 * - page.main_navigation: Items for the Main Navigation region.
 * - page.top_search: Items for top search bar.
 * - page.top_banner: Items for banner or slider at top of the page.
 * - page.highlighted: Items for the Highlighted region.
 * - sidebar_first: Items for the Left Sidebar region.
 * - sidebar_second: Items for the Right Sidebar region.
 * - help: Items for the Help region.
 * - content: Items for the Content region.
 * - footer: Items for the Footer region.
 * - footer_first: Items for the First Bottom region.
 * - footer_second: Items for the Second Bottom region.
 * - footer_third: Items for the Third Bottom region.
 * - footer_fourth: Items for the Fourth Bottom region.
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}
<div id="page">
	<div id="top"></div>
  <header id="masthead" role="banner" class="site-header">
	<div class="container">
		<div class="row">
			{% if page.header %}
				<div id="logo" class="site-branding col-sm-4">
					{{ page.header }}
				</div>
			{% endif %}
			<div class="col-sm-6 mainmenu">
			<div class="mobilenavi"></div>
				<nav id="navigation" role="navigation">
					<div id="main-menu">
						{% if page.main_navigation %}
							{{ page.main_navigation }}
						{% endif %}
					</div>
				</nav>
			</div>
			<div id="header-search" class="col-sm-2">
				{% if page.top_search %}
					{{ page.top_search }}
				{% endif %}
				<div class="search-icon"><i class="fa fa-search" aria-hidden="true"></i>&nbsp;</div>
			</div>
		</div>
    </div>
  </header>
            
  
 {% if banner_display %}
		<div{{ attributes.addClass('display-banner particle-bg count-particles') }} id="particles-js">
		<img src="{{ banner_image }}"/>
		{% if banner_head or banner_desc %}
		<div class="flex-caption">
		<h2>{{ banner_head|striptags }}</h2>{{ banner_desc|striptags }}
		<a class="frmore" href="{{ banner_url|striptags }}">{{ 'Read More'|t }}</a>

		</div>
		<div class="down"><a href="#main-content" class="scrolling-icon scrollto"><span class="go-down"></span></a></div>
		{% endif %}
	</div>
{% else %}
		<div{{ attributes.addClass('hide-banner particle-bg count-particles') }} id="particles-js">
		<img src="{{ banner_image }}"/>
		{% if banner_head or banner_desc %}
		<div class="flex-caption">
		<h2>{{ banner_head|striptags }}</h2>{{ banner_desc|striptags }}
		<a class="frmore" href="{{ banner_url|striptags }}">{{ 'Read More'|t }}</a>

		</div>
		<div class="down"><a href="#main-content" class="scrolling-icon scrollto"><span class="go-down"></span></a></div>
		{% endif %}
	</div>
{% endif %}

{# Top Banner/Slider Section #}
		 {% if page.top_banner %}
			<div id="top-banner">
				{{ page.top_banner }}
			</div>
		{% endif %}
		
 {# Main #}
{% block main %}
  <div role="main" class="container js-quickedit-main-content main-container">
    <div class="row">

        {# Sidebar First #}
      {% if page.sidebar_first %}
        {% block sidebar_first %}
          <aside class="col-sm-3" role="complementary">
            {{ page.sidebar_first }}
          </aside>
        {% endblock %}
      {% endif %}

      {# Content #}
      {%
        set content_classes = [
          page.sidebar_first and page.sidebar_second ? 'col-sm-6',
          page.sidebar_first and page.sidebar_second is empty ? 'col-sm-9',
          page.sidebar_second and page.sidebar_first is empty ? 'col-sm-9',
          page.sidebar_first is empty and page.sidebar_second is empty ? 'col-sm-12'
        ]
      %}
      <section{{ content_attributes.addClass(content_classes) }}>

        {# Highlighted #}
        {% if page.highlighted %}
          {% block highlighted %}
            <div class="highlighted">{{ page.highlighted }}</div>
          {% endblock %}
        {% endif %}

        {# Breadcrumbs #}
        {% if breadcrumb %}
          {% block breadcrumb %}
            {{ breadcrumb }}
          {% endblock %}
        {% endif %}

        {# Action Links #}
        {% if action_links %}
          {% block action_links %}
            <ul class="action-links">{{ action_links }}</ul>
          {% endblock %}
        {% endif %}

        {# Help #}
        {% if page.help %}
          {% block help %}
            {{ page.help }}
          {% endblock %}
        {% endif %}

        {# Content #}
        {% block content %}
          <a id="main-content"></a>
          {{ page.content }}
        {% endblock %}
      </section>

      {# Sidebar Second #}
      {% if page.sidebar_second %}
        {% block sidebar_second %}
          <aside class="col-sm-3" role="complementary">
            {{ page.sidebar_second }}
          </aside>
        {% endblock %}
      {% endif %}
    </div>
  </div>
{% endblock %}

<div id="bottom">
  {% if page.footer_first or page.footer_second or page.footer_third or page.footer_fourth %}
      <div class="container">
        <div class="row">
          {% if page.footer_first %}
            <div class="{{ 'footer-block col-sm-' ~ footer_col }}">
              {{ page.footer_first }}
            </div>
          {% endif %}
          {% if page.footer_second %}
            <div class="{{ 'footer-block col-sm-' ~ footer_col }}">
              {{ page.footer_second }}
            </div>
          {% endif %}
          {% if page.footer_third %}
            <div class="{{ 'footer-block col-sm-' ~ footer_col }}">
              {{ page.footer_third }}
            </div>
          {% endif %}
          {% if page.footer_fourth %}
            <div class="{{ 'footer-block col-sm-' ~ footer_col }}">
              {{ page.footer_fourth }}
            </div>
          {% endif %}
        </div>
      </div>
    {% endif %}
  </div>

  <footer id="colophon" class="site-footer" role="contentinfo">
    <div class="container">
		{% if show_scrolltop %} 
		<div class="scroll-top" style="display: block;">
         <a href="#top"><i class="fa fa-arrow-up" aria-hidden="true"></i></a>
      </div>
       {% endif %}
      <div class="row">
		 {% if page.footer %}
			<div id="footer-block">
				{{ page.footer }}
			</div>
		{% endif %}
		<div class="bottom-footer">
        <div class="copyright-text">
		{% if show_copyright %} 
        <p>{{copyright_text}}</p>        
        {% endif %}
        </div>
        <div class="social-icons">
		{% if show_social_icon %}
          <div class="social-media">
            {% if facebook_url %}
              <a href="{{ facebook_url }}"  class="facebook" target="_blank" ><i class="fa fa-facebook"></i></a>
            {% endif %}
            {% if google_plus_url %}
              <a href="{{ google_plus_url }}"  class="google-plus" target="_blank" ><i class="fa fa-google-plus"></i></a>
            {% endif %}
            {% if twitter_url %}
              <a href="{{ twitter_url }}" class="twitter" target="_blank" ><i class="fa fa-twitter"></i></a>
            {% endif %}
            {% if pinterest_url %}
              <a href="{{ pinterest_url }}" class="pinterest" target="_blank" ><i class="fa fa-pinterest"></i></a>
            {% endif %}
            {% if linkedin_url %}
              <a href="{{ linkedin_url }}" class="linkedin" target="_blank"><i class="fa fa-linkedin"></i></a>
            {% endif %}
          </div>
        {% endif %}
		</div>
      </div>
      </div>
    </div>
  </footer>
</div>
